* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}

body {
    background-color: rgba(91, 76, 131, 0.144);
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background:#102eb6;
    position:static;
    width: 100%;
    #z-index: 100;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: rgba(2, 20, 122, 0.801);
    background-size: cover;
}

.title { 
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(13, 13, 153);*/
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(17, 121, 219);
    padding: 0 150px;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgba(58, 21, 224, 0.603);
    text-decoration: none;
    background: rgba(4, 42, 255, 0.452);
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau { 
    padding: 50px 0;
    background: #303030;
}

.footer-section { 
    display: flex;
}

.f-elances{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.f-elances a {
    color:rgba(2, 20, 122, 0.801);
    text-decoration: none;
    margin-top: 20px;
        
}

@media (max-width: 768px) {
    .title{
        margin-top: 0px;
        font-size: 40px;
    }

    .sau {
        height: 80vh;
        padding: 50px 0;
    }
}

.h1 {
    color: #cf503a;
}