* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    background: none;
    }

head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    background:#4d4d4d93;
    position:static;
    width: 100%;
    z-index: 100;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgba(58, 21, 224, 0.603);
    text-decoration: none;
    background: rgba(4, 42, 255, 0.452);
}

nav {
    display:flexbox;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgba(5, 5, 5, 0.603);
    text-decoration: none;
    background: rgba(178, 194, 228, 0.452);
}